!!! 5
%html
	%head
		%meta(charset="UTF-8")
		%title comic2
		:css
			img {display: block; margin: 8px auto;}
			p#tbc {font-family: Georgia, serif; font-size: 120%; text-align: center; margin: 100px auto;}
	%body
		- Pathname.glob('public/*.{jpg,png}').sort_by(&:basename_to_i).each do |pn|
			%img{:src => pn.basename, :id => pn.basename_to_i, :title => pn.basename_to_i, :alt => pn.basename_to_i}
		%p{:id => 'tbc'} to be continued...
