!!! 5
%html
	%head
		%meta(charset="UTF-8")
		%title comic2
		:css
			body {font-family: Georgia, serif;} 
			img {display: block; margin: 10px auto;}
			p.author {text-align: right; margin: -25px auto 0; width: 920px;}
			p#tbc {font-size: 120%; text-align: center; margin: 100px auto;}
	%body
		- Pathname.glob('public/*.{jpg,png}').sort_by(&:basename_to_i).each do |pn|
			- i = pn.basename_to_i
			%img{:src => pn.basename, :id => i, :title => i, :alt => i}
			%p.author= "by " + (i.odd? ? "Alan" : "Kevin")
			
		%p{:id => 'tbc'} to be continued...
